<!DOCTYPE html>
<html>
<head>
    <title>NLP Project</title>
    <!-- Link the external stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>NLP Project - Text Generation</h1>
        <h2>Group 2</h2>
        
        <input type="text" id="context" placeholder="Enter seed text">
        <div class="selection">
            <select id="model">
                <option value="backoff">Backoff Model</option>
                <option value="interpolation">Interpolation Model</option>
            </select>
            <input id="word" type="text" placeholder="Enter amount of word">
        </div>    
        <button id="genbutton" onclick="generateText()">Generate Text</button>
        <textarea id="output" readonly placeholder="Generated text will appear here"></textarea>
    </div>
    <script>
        function generateText() {
            const context = document.getElementById('context').value;
            const model = document.getElementById('model').value;
            const word = document.getElementById('word').value;
            const button = document.getElementById('genbutton');
             // Change button text and color while fetching
            button.innerHTML = "loading...";
            button.style.backgroundColor = "#FAD5A5";  // Use backgroundColor instead of background

            fetch('/generate', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ context, model, word: word })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('output').value = data.generated_text;
                button.innerHTML = "Generate Text"
                button.style.backgroundColor = "#4CAF50";  // Reset the button color
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle error by resetting button in case of failure
                button.innerHTML = "Generate Text";
                button.style.backgroundColor = "#FF6347";  // Red color on error
            });
        }
    </script>
</body>
</html>
